/* Write your code here. */
* {
  margin: 0;
}

@media (max-width: 576px) {
  .bgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    background-size: cover;
    height: 100vh;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #cffafe;
    background-size: cover;
    height: 50vh;
    margin: 10px;
  }
  .image {
    width: 20%;
    margin: 10px;
  }
}

@media (min-width: 577px) {
  .bgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    background-size: cover;
    height: 100vh;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #cffafe;
    background-size: cover;
    height: 50vh;
    margin: 10px;
  }
  .image {
    width: 20%;
    margin: 10px;
  }
}
